
<div class="navegar">
    <div class="header-inner-content">
        <h1 class="logo">Dev<span>Blog</span></h1>      
        <nav>
            <ul>
                <a href="/" style="color: #ffffff;">Inicio</a>
                <a href="/admin/articles" style="color: #ffffff;">Artigos</a>
                <a href="/admin/categories" style="color: #ffffff;">Categorias</a>
            </ul>
            
        </nav>
        <nav class="icon-container" >
            <ul>
                <li class="dropdown">
                    <a href="" style="color: #ffffff;"><i class='bx bx-menu' style='color:#ffffff'></i></a>
                    <div class="dropdown-menu">
                        <a href="/login">Fazer Login</a>
                        <a href="/users/create">Criar Usuário</a>
                        <a href="/logout">Sair</a>
                    </div>
                </li>
            </ul>
        </nav>

        
    </div>

</div>
